# Ignore node_modules in both folders
node_modules/
backend/node_modules/
frontend/node_modules/

# Ignore the local database (it will be recreated on the server)
*.db

# Ignore logs and system files
*.log
.DS_Store
backend/uploads/*
!backend/uploads/.gitkeep